extends layout

block content
    h1= title

    a(href='/capture') Start capture

    h3 Videos
    ul
        each file in files
            li
                span.filename= file.name
                if file.state === 'playing'
                    a(href='/stop/' + file.name) stop
                    span ,
                    a(href='/stream/' + file.name) open stream
                else
                    a(href='/play/' + file.name) play
